::-moz-selection { /* Code for Firefox */
    color: #5598bcaba9cc;
    background: #eee;
}

::selection {
    color: #8bcaba; 
    background: #eee;
}

@font-face {
    font-family: 'FabfeltScriptBold';
    src: url('../fontface/fabfelt/fabfeltscript-bold.eot');
    src: url('../fontface/fabfelt/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('../fontface/fabfelt/fabfeltscript-bold.woff2') format('woff2'),
         url('../fontface/fabfelt/fabfeltscript-bold.woff') format('woff'),
         url('../fontface/fabfelt/fabfeltscript-bold.ttf') format('truetype'),
         url('../fontface/fabfelt/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}
html, body{
	height: 100%;
}

h1{
    font-family: "FabfeltScriptBold";
    font-size: 110px;
    line-height: 100px;
    text-shadow: 0px 12px 0px rgba(0, 0, 0, .08);
    color: #e05e62;
}
h2{
    font-size: 20px;
    line-height: 26px;
}/* Subtitulos */
h3{
	font-size: 20px;
	width: 40%;
	line-height: 32px;
}

h2, h3{
    margin: 0px 6% 30px 6%;
}

/* Parágrafos */
p{
    
}


/*  PARALLAX STYLES  */
`
  body, html {
    overflow: hidden;
  }

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
  }
/*  --  Header Cores  --  */
.HeadColors {
    position: absolute;
    display: table;
    width: 100%;
    height: 10px;
    position: fixed;
    z-index: 10;
    
     -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.08);
}
.HeadColor {
    display: table-cell;
    height: 100%;
    width: 33%;
}
.Color1 {
    background-color: #e05e62;
}
.Color2 {
    background-color: #8bcaba;
}
.Color3 {
    background-color: #bee1ef;
}
.GroupContainer {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}

.GroupTitle {
    font-family: "FabfeltScriptBold";
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 20px;
    text-shadow: 0px 12px 0px rgba(0, 0, 0, .08);
}

#group01 {
    z-index: 2;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}
#group01 .GroupContainer{
    max-width: 700px;
}
#group01 img{
    width: 60px;
}
#group01 .bg {
    background: url("../img/img_bg_01.jpg") center center;
    background-size: cover;
}
#group02 {
    z-index: 1;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    color: #fff;
}
#group02 .bg {
    background: url("../img/img_bg_02.jpg") center center;
}

#group02 .GroupContainer{
    max-width: 700px;
}

#group03 {
    z-index: 2;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}
#group03 .bg {
    background: url("../img/img_bg_03.jpg") center center;
}

#group04 {
    z-index: 1;
    height: 100vh;
}
#group04 .bg {
    background: url("../img/img_bg_04.jpg") center center;
}
#group04 .GroupContainer{
    height: 90%;
}
#group05 {
    z-index: 2;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}
#group05 .bg {
    background: url("../img/img_bg_05.jpg") center center;
}

#group06 {
    z-index: 1;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}
#group06 .bg {
    background: url("../img/img_bg_06.jpg") center center;
}

#group07 {
    z-index: 2;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}
#group07 .bg {
    background: url("../img/img_bg_07.jpg") center center;
}

#groupForm {
    z-index: 1;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
}
.bg{
    background-size: cover !important;
}
#groupForm .parallax__layer--fore{
    background: url("../img/img_bg_form_fotos1.png") center center;
    background-size: cover;
}

#groupForm{
    background: url("../img/img_bg_form_fotos2.png") center center;
    background-size: cover;
}

#groupForm .bg {
    background: url("../img/img_bg_form.jpg") center center;
}

#groupForm .GroupContainer{
    max-width: 400px;
}

#groupForm .GroupTitle{
    color: #e05e62;
    font-size: 70px;
    margin: auto;
    margin-bottom: 60px;
}

#FinalGroup {
    z-index: 2;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    background-color: #fff;
    font-family: "FabfeltScriptBold";
    color: #fff;
    text-shadow: 0px 12px 0px rgba(0, 0, 0, .08);
}
#FinalGroup a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#FinalGroup .bg{
    background: url("../img/img_bg_footer.jpg") center center;   
}

/*
.parallax__group {
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
*/
.Fotos {
    width: 100%;
    height: 100%;
    background-color: green;
}

.Formulario {
    max-width: 450px;
    margin: auto;
    z-index: 2000;
}

input{
    font-size: 24px;
    color: #e05e62;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8bcaba;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8bcaba;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8bcaba;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #8bcaba;
}

input[type=text] {
    
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
    border-color: #e05e62;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e05e62;
    outline: 0 none;
}

.SubmitButton {
    width: 80px;
    height: 80px;
    background: url("../svg/camera.svg") center center no-repeat;
    background-color: #e05e62;
    border-radius: 50%;
    margin: auto;
    
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.1);
    
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.SubmitButton:hover{
    background-color: #8bcaba;
    width: 90px;
    height: 90px;
    cursor: pointer;
    
    -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.1);
}



.FinalCora {
    width: 130px;
    height: 130px;
    margin: auto;
    background: url(../svg/coraSub.svg);
    margin-bottom: 20px;
}

.FinalMail {
    font-size: 40px;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.FinalMail:hover{
    color: #fffdbd;
}

.FinalPhone {
    font-size: 40px;
    margin-bottom: 20px;
}

.FinalFacebook {
    width: 50px;
    height: 50px;
    background: url(../svg/facebook.svg) no-repeat 21px 12px;
    background-size: 40%;
    background-color: #405a97;
    border-radius: 5px;
    margin: auto;
    
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.FinalFacebook:hover{
    background-color: #43424c;
}
